.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rightMenu {
	position: absolute !important;
	right: 1rem;
}

.title {
	cursor: pointer;
}

/* @media only screen and (max-width: 768px) {
	.menu {
		flex-direction: column;
	}

	.rightMenu {
		position: static !important;
	}
} */
